input {
	stdin {}
}

filter {
	grok {
		match => {
			"message" => "%{WORD:type},.*"
		}
	}

	if [type] == "summaryinfo" {
		grok {
			match => {
				"message" => "summaryinfo,%{WORD:procId},(?<date>[^\,]+),(?<age>[^\,]+),(?<gender>[^\,]+),(?<asaCode>[^\,]+),(?<heightInches>[^\,]+),(?<weightPounds>[^\,]+),(?<procText>[^\,]+),(?<cptCode>[^\,]+),(?<anesthesiaType>[^\,]+),(?<surgDiagnosis>[^\,]+),(?<orLocation>[^\,]+),(?<anesthesiaStartTime>[^\,]+),(?<inRoomTime>[^\,]+),(?<anesthesiaReadyTime>[^\,]+),(?<procStartTime>[^\,]+),(?<procEndTime>[^\,]+),(?<leaveOrTime>[^\,]+),(?<anesthesiaEndTime>[^\,]+)"
	        }
	    }
		mutate { add_field => { "_id" => "%{type}-%{procId}" } }

	    date {
	        timezone => "America/Los_Angeles"
	        match => ["anesthesiaStartTime", "ISO8601"]
	    }

	} else if [type] == "monitor" {
		grok {
			match => {
				"message" => "monitor,%{WORD:procId},%{TIMESTAMP_ISO8601:time},%{WORD:sensor},(?<numericValue>[0-9\.]+),%{WORD:textValue}"
	        }
	    }
		mutate { add_field => { "_id" => "%{type}-%{procId}-%{time}-%{sensor}" } }

	    if [numericValue] != "NULL" {
			mutate { convert => { "numericValue" => "float" } }
	    }

	    date {
	        timezone => "America/Los_Angeles"
	        match => ["time", "ISO8601"]
	    }

	} else if [type] == "medication" {
		grok {
			match => {
				"message" => "medication,%{WORD:procId},%{TIMESTAMP_ISO8601:startTime},%{WORD:endTime},%{WORD:name},%{NUMBER:value},%{WORD:units}"
	        }
	    }
		mutate { add_field => { "_id" => "%{type}-%{procId}-%{startTime}-%{name}-%{value}" } }

	    mutate { convert => { "value" => "float" } }

	    date {
	        timezone => "America/Los_Angeles"
	        match => ["startTime", "ISO8601"]
	    }


	} else if [type] == "fluid" {
		grok {
			match => {
				"message" => "fluid,%{WORD:procId},%{TIMESTAMP_ISO8601:time},%{NUMBER:value},(?<name>[^\,]+),%{WORD:units}"
	        }
	    }
		mutate { add_field => { "_id" => "%{type}-%{procId}-%{time}-%{name}-%{value}" } }

	    mutate { convert => { "value" => "float" } }

	    date {
	        timezone => "America/Los_Angeles"
	        match => ["time", "ISO8601"]
	    }


	} else if [type] == "lab" {
		grok {
			match => {
				"message" => "lab,%{WORD:procId},%{TIMESTAMP_ISO8601:time},(?<name>[^\,]+),(?<numericValue>[^\,]+),(?<textValue>[^\,]+)"
	        }
	    }
		mutate { add_field => { "_id" => "%{type}-%{procId}-%{time}-%{name}" } }

	    if [numericValue] != "NULL" {
			mutate { convert => { "numericValue" => "float" } }
	    }

	    date {
	        timezone => "America/Los_Angeles"
	        match => ["time", "ISO8601"]
	    }

	} else if [type] == "orcapreop" {
		grok {
			match => {
				"message" => "orcapreop,%{WORD:procId},%{TIMESTAMP_ISO8601:time},(?<reviewTitle>[^\,]+),(?<description>[^\,]+)"
	        }
	    }
		mutate { add_field => { "_id" => "%{type}-%{procId}-%{time}-%{reviewTitle}-%{description}" } }

	    date {
	        timezone => "America/Los_Angeles"
	        match => ["time", "ISO8601"]
	    }
	} else if [type] == "event_10_5_5" {
		grok {
			match => {
				"message" => "event_10_5_5,%{WORD:procId},%{TIMESTAMP_ISO8601:time},(?<label>[^\,]+)"
	        }
	    }

	    date {
	        timezone => "America/Los_Angeles"
	        match => ["time", "ISO8601"]
	    }

		mutate { add_field => { "_id" => "%{type}-%{procId}-%{@timestamp}" } }
	}

	ruby {
        code => "
            hash = event.to_hash
            hash.each do |k,v|
                if v == 'NULL'
                    event.remove(k)
                end
            end
        "
    }

	mutate { remove_field => "message" }
	#mutate { add_field => { "learningLabel" => "training"} }
}

# output {
#     stdout { codec => rubydebug }
#     # elasticsearch {
#     # 	protocol => "http"
#     # 	user => "admin"
#     # 	#password => "REAL_PASS_HERE"
#     # 	index => "prescience"
#     # 	document_type => "%{type}"
#     # }
# }
